@{
	ViewData["Title"] = "Access Denied";
}

<div class="container my-3">
	<div class="row">
		<div class="col text-center">
			<h1 class="text-danger">@ViewBag.Title</h1>
			<p>@ViewBag.Text</p>
		</div>
	</div>
</div>