@{
	ViewData["Title"] = "Confirm Email";
}


<div class="container-fluid my-3">
	<div class="row text-center">
		<div class="col text-center">
			<h4>Signed up successfully</h4>
			<p>please confirm your email first. we have sent you an email</p>
		</div>
	</div>
</div>