<div class="border-2 border-end" id="sidenvContainer">
	<div id="mySidenav" class="sidenav text-center ps-4 pe-2" style="position: sticky; left: 0; top: 3.3rem;">

		<div class="mt-3 text-start">
			<a href="" class="btn btn-outline-danger rounded-3">Create New Issue</a>
		</div>

		<div class="mt-5">

			<div class="my-2">

					<a asp-action="index" asp-controller="home" 
					class=@(Context.Request.Path == "/" ? "btn-primary btn w-100 text-start" : "sidebarLink btn w-100 text-start")>
						<i class="bi bi-house-door"></i>
						&nbsp;Dashboard
					</a>

			</div>

			<div class="my-2">
				<a asp-action="index" asp-controller="projects"
					class=@(Context.Request.Path.ToString().StartsWith("/projects") ? "btn-primary btn w-100 text-start" : "sidebarLink btn w-100 text-start")>
					<i class="bi bi-grid"></i>
					&nbsp;Projects
				</a>
			</div>
			
			<div class="my-2">
				<a href="" class="btn w-100 text-start sidebarLink">
					<i class="bi bi-x-diamond"></i>
					&nbsp;Issues
				</a>
			</div>
			<div class="my-2">
				<a href="" class="btn w-100 text-start sidebarLink">
					<i class="bi bi-people"></i>
					&nbsp;Users
				</a>
			</div>
			<div class="my-2">
				<a href="" class="btn w-100 text-start sidebarLink">
					<i class="bi bi-files"></i>
					&nbsp;Reports
				</a>
			</div>



		</div>

		@* <div class="mt-3 mb-5 ms-3">
			<a href="#" class="createIssueBtn active rounded-pill text-dark py-2">
			<i class="bi bi-plus-lg" style="color: rgb(79, 19, 200);"></i>&nbsp; Create Issue
			</a>
			</div>

			<div class="my-3">
			<a href="" class="sidebarLink">
			<i class="bi bi-house-door-fill"></i>
			&nbsp;DashBoard
			</a>
			<a href="" class="sidebarLink">
			<i class="bi bi-house-door-fill"></i>
			&nbsp;Projects
			</a><a href="" class="sidebarLink">
			<i class="bi bi-house-door-fill"></i>
			&nbsp;Issues
			</a><a href="" class=" sidebarLink">
			<i class="bi bi-house-door-fill"></i>
			&nbsp;Users
			</a><a href="" class="sidebarLink">
			<i class="bi bi-house-door-fill"></i>
			&nbsp;Reports
			</a>
			</div> *@


	</div>
</div>