html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.sidenav {
  height: 100%;
  width: 250px;
  overflow: hidden;
  display: none;
}
/* 
#sidenvContainer {
  padding: 0 0.5rem;
} */

#sidebar_toggle_btn {
  border-radius: 100%;
  transition: all linear 0.2s;
}

#sidebar_toggle_btn:active {
  background-color: rgba(172, 171, 171, 0.525);
}

.activelink {
  transition: all linear 0.2s;
}

.activelink:active {
  background-color: rgba(172, 171, 171, 0.525);
}

.sidebarLink {
  background-color: #ececff;
}

.sidebarLink:hover {
  background-color: #c6d9f5;
}

.projectRow {
  background-color: #f6f6fa;
}

.projectRow:hover {
  scale: 1.01;
}

.boxshadow {
  box-shadow: 0px 2px 4px 0px rgb(0 0 0 / 30%), 0px 2px 6px 2px rgb(0 0 0 / 15%);
}

#CommentsDiv {
  max-height: 80vh;
  overflow-y: scroll;
}

#CommentsDiv::-webkit-scrollbar {
  width: 5px;
}

#CommentsDiv::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(200, 200, 200, 1);
  border-radius: 10px;
}

#CommentsDiv::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #fff;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.7);
}
