@model AssignedToMeViewModel
@{
	ViewData["Title"] = "Assigned To Me";
}


<div class="container-fluid my-3 px-4">
	<div class="row">
		<div class="col-md-8">
			<h6 class="text-danger">Over Due Issues</h6>
			@if (Model.OverDueIssues.Any())
			{
				<partial name="_Issues" model="@Model.OverDueIssues" />
			}
			else
			{
				<p>You do not have over due Issues</p>
			}
		</div>
	</div>
	<div class="row my-5">
		<div class="col-md-8">
			<h6 class="text-warning">Open issues</h6>
			@if (Model.OpenIssues.Any())
			{
				<partial name="_Issues" model="@Model.OpenIssues" />
			}
			else
			{
				<p>You do not have open Issues</p>
			}
		</div>
	</div>
</div>